{% extends "network/layout.html" %}

{% block body %}
<h2>Following</h2>
<form action="{% url 'following' %}" method="post">
  {% csrf_token %}

{% for post in page_obj %}
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <b>
                    <a class="nav-link" href="{% url 'profile' user_id=post.user.id %}"><strong> {{ post.user }}</strong></a>
                    </b>
                  <p>{{ post.content }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <b>Time & Date: </b> {{ post.timestamp }} <br />
                  {% if post.likes != "none" %}
                    <p class="card-text"><b>Likes:</b> {{ post.likes }}</p>
                  {% endif %}
                </div>
            </div>
            </div>
          </div>
    {% endfor %}
</div>

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>

{% endblock %}